[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt"
authors = [
    {name = "Dirk Eilander", email = "dirk.eilander@deltares.nl"},
    {name = "Hélène Boisgontier", email = "helene.boisgontier@deltares.nl"},
]
dependencies = [
    "affine",
    "bottleneck",
    "click",
    "dask",
    "entrypoints",
    "fsspec",
    "geopandas>=0.10",
    "gdal>=3.1",
    "numpy",
    "netcdf4",
    "openpyxl",
    "packaging",
    "pandas",
    "pyflwdir>=0.5.4",
    "pyproj",
    "rasterio",
    "requests",
    "rioxarray",
    "shapely>=2.0.0",
    "scipy",
    "universal_pathlib",
    "xarray",
    "xmltodict",
    "zarr",
]
requires-python = ">=3.8" # fix tests to support older versions
readme = "README.rst"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
all = [
    "pcraster",
    "xugrid",
    "pygeos",
    "pyet",
]
test = [
    "black",
	"pytest>=2.7.3",
	"pytest-cov",
    "pytest-mock",
	"responses",
]
doc = [
	"nbsphinx",
    "pydata-sphinx-theme",
    "sphinx",
    "sphinx_design",
    "sphinx_autosummary_accessors",
]


[project.urls]
Documentation = "https://deltares.github.io/hydromt"
Source = "https://github.com/Deltares/hydromt"

[project.scripts]
hydromt = "hydromt.cli.main:main"

[tool.black]
line-length = 88
target-version = ['py39']

[tool.ruff]
line-length = 88

# enable pydocstyle (E), pyflake (F) and isort (I), pytest-style (PT)
select = ["E","F","I","PT","D"]
ignore-init-module-imports = true
ignore = ["D211", "D213", "E741", "D105", "E712"]
exclude = ["docs"]

[tool.ruff.per-file-ignores]
"tests/**" = ["D103", "D100", "D104"]
"hydromt/__init__.py" = ["E402","F401", "F403"]
"hydromt/workflows/__init__.py" = ["F403"]
"hydromt/models/__init__.py" = ["F403", "F401", "F405"]
"hydromt/_compat.py" = ["F401"]

[tool.flit.sdist]
include = ["hydromt"]
exclude = ["docs", "examples", "envs", "tests", "binder", ".github"]

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = [
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
    "ignore:getargs:DeprecationWarning", # The 'u' format is deprecated. Use 'U' instead.
    "ignore:The *staticgeoms:DeprecationWarning",
    "ignore:The *staticmaps:DeprecationWarning",
    "ignore:The set_staticmaps:DeprecationWarning",
    "ignore:Adding a predefined data catalog:DeprecationWarning",
    "ignore:Shapely 2.0 is installed:UserWarning",
    "ignore::rasterio.errors.NotGeoreferencedWarning", # upstream issue with rasterio, see https://github.com/rasterio/rasterio/issues/2497
    "ignore:.*isinstance:numba.core.errors.NumbaExperimentalFeatureWarning" # soon to be solved upstream. see https://github.com/numba/numba/pull/8911
]
