[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt"
authors = [
    {name = "Dirk Eilander", email = "dirk.eilander@deltares.nl"},
    {name = "Hélène Boisgontier", email = "helene.boisgontier@deltares.nl"},
]
dependencies = [
    "affine",
    "bottleneck",
    "click",
    "dask",
    "entrypoints",
    "geopandas>=0.10",
    "gdal>=3.1",
    "numpy",
    "netcdf4",
    "openpyxl",
    "packaging",
    "pandas",
    "pyflwdir>=0.5.4",
    "pyproj",
    "pygeos",
    "rasterio",
    "requests",
    "rioxarray",
    "shapely==1.8.2", # temp version pin see geopandas#2531
    "scipy",
    "xarray",
    "zarr",
]
requires-python = ">=3.8" # fix tests to support older versions
readme = "README.rst"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
test = [
    "black",
	"pytest>=2.7.3",
	"pytest-cov",
	"responses",
]
doc = [
	"nbsphinx",
    "pydata-sphinx-theme",
    "sphinx",
    "sphinx_design",
    "sphinx_autosummary_accessors",
]

[project.urls]
Documentation = "https://deltares.github.io/hydromt"
Source = "https://github.com/Deltares/hydromt"

[project.scripts]
hydromt = "hydromt.cli.main:main"

[tool.black]
line-length = 88
target-version = ['py37']

[tool.flit.sdist]
include = ["hydromt"]
exclude = ["docs", "examples", "envs", "tests", "binder", ".github"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
    "ignore:getargs:DeprecationWarning", # The 'u' format is deprecated. Use 'U' instead.
    "ignore:The *staticgeoms:DeprecationWarning", 
    "ignore:The *staticmaps:DeprecationWarning", 
    "ignore:The set_staticmaps:DeprecationWarning", 
]