affine
bottleneck
click
dask
entrypoints
flit>=3.4
fsspec
gdal>=3.1
geopandas>=0.10
netcdf4
numpy
openpyxl
pandas
packaging
pip
pyflwdir>=0.5.4
pyproj
rasterio
requests
rioxarray
scipy
shapely>=2.0.0
universal_pathlib
xarray
xmltodict
zarr
