/* Override the default color set in the original theme */

.navbar-light {
    background: #080c80 !important;
}

.bg-light {
    background-color: #080c80 !important;
}

.navbar-brand p {
    color: #fff !important;
}

img.icon-link-image {
    height: 2.5em !important;
}

.navbar-toggler-icon {
    filter: invert(100%) ;
}

:root {
    /* sphinx design */
    --sd-color-card-border-hover: #080c80;
    --sd-color-tabs-label-active: #080c80;
    --sd-color-tabs-label-hover: #080c80;
    --sd-color-tabs-underline-active: #080c80;
    
    /* hyperlinks */
    --pst-color-link: 13, 56, 224;
    --pst-color-navbar-link: 237, 237, 255;
    --pst-color-navbar-link-hover: 255, 255, 255;
    --pst-color-navbar-link-active: 255, 255, 255;
}