
name: Validate Data Catalog

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - data/catalogs/*.yml
  pull_request:
    branches:
      - main
    paths:
      - data/catalogs/*.yml


jobs:
  build:
    defaults:
      run:
        shell: bash -l {0}
    env:
      DOC_PYTHON_VERSION: '3.11'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-data-catalog-validation-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
      - uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: "latest"
          environments: default
      - name: Prepare pixi
        run: |
          pixi run install-hydromt
      - name: Validate the catalogs
        run: |
          export NUMBA_DISABLE_JIT=1
          for d in $(ls data/catalogs/*.yml); do
            echo "Checking $d"
            PYTHONPYCACHEPREFIX=~/pycache pixi run hydromt check -d $d
          done
