name: Build Docs

# We don't want pushes (or PRs) to gh-pages to kick anything off
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # Build docs on Linux
  Docs:
    name: linux docs
    runs-on: ubuntu-latest
    env:
      DOC_VERSION: dev
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      
      # - name: Get tags
      #   run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Setup environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.9"
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          environment-file: envs/hydromt-dev.yml
          activate-environment: hydromt-dev

      - name: Install hydromt
        run: flit install

      # Move examples folder before make html for nbsphinx
      - name: Build docs
        run: |
          mv examples docs/examples/
          pushd docs
          make html
          popd

      - name: Set doc version
        # run: echo "DOC_VERSION=$(python -c 'from hydromt import __version__ as v; print("dev" if "dev" in v else "v"+v.replace(".dev",""))')" >> $GITHUB_ENV
        run: echo "DOC_VERSION=$(python -c 'from hydromt import __version__ as v; print("preview" if "dev" in v else "v"+v.replace(".dev",""))')" >> $GITHUB_ENV
      
      - name: Upload to GitHub Pages
        # if: ${{ github.event_name != 'pull_request'}}
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          exclude_assets: '.buildinfo,_sources/*,*.ipynb'
          destination_dir: ./${{ env.DOC_VERSION }}
          keep_files: false
          full_commit_message: Deploy ${{ env.DOC_VERSION }} to GitHub Pages