---
name: Build and Upload HydroMT to PyPI

on:
  release:
    types:
      - published
  push:
    tags:
      - v*

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: 3.9

      - name: generate env
        run: |
          pip install tomli flit twine

      - name: Build artifacts
        run: make pypi

      - uses: actions/upload-artifact@v3
        with:
          name: releases
          path: dist

  test-built-dist:
    needs: build-artifacts
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: releases
          path: dist
      - name: List contents of built dist
        run: |
          ls -ltrh
          ls -ltrh dist
      - name: install tomli
        run: pip install tomli
      - name: generate env
        run: python make_env.py min

      - name: Setup environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.9'
          mamba-version: '*'
          channels: conda-forge
          channel-priority: true
          environment-file: environment.yml
          activate-environment: hydromt

      - name: Conda info
        run: |
          conda info
          conda list

      - name: Verify the built dist/wheel is valid
        run: |
          python -m pip install dist/hydromt*.whl
          python -c 'from hydromt import __version__ as v; print(v)'
          echo "hydromt --models"

  upload-to-test-pypi:
    needs: test-built-dist
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: releases
          path: dist
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true
          skip_existing: true

  upload-to-pypi:
    needs: test-built-dist
    if: ${{ github.event_name == 'release' && !github.event.act  }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: releases
          path: dist
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          verbose: true
