---
name: Test Docker images and Binder integration

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/**
      - pyproject.toml
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/**
      - pyproject.toml

jobs:
  test-binder:
    runs-on: ubuntu-latest
    concurrency:
      group: test-binder-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build the image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: hydromt-binder
      - name:
        id: test-image
        run: |
          # actually fail when something goes wrong
          set -e

          # run the docker image detached, it will start the jupyter server for us
          docker run -d -p 8888:8888 hydromt-binder

          # give it a second or two to start up
          sleep 10

          # check if we can reach the server
          curl -f "http://localhost:8888/api/"

      # only show logs if previous step failed
      - name: show logs
        if: failure()
        run: |
          echo "# Containers:"
          docker container ls

          echo "# Logs:"
          docker logs "$(docker container ls -q)"
