---
name: Test Docker images and Binder integration

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/*
      - Dockerfile
      - pyproject.toml
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/*
      - Dockerfile
      - pyproject.toml

jobs:
  test-binder:
    runs-on: ubuntu-latest
    concurrency:
      group: test-binder-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build slim
        uses: docker/build-push-action@v6
        with:
          context: .
          target: slim
          tags: deltares/hydromt:slim
          load: true
          build-args: |
            PIXIENV=slim-latest
      - name: test build
        uses: jupyterhub/repo2docker-action@master
        with:
          NO_PUSH: 'true'
          IMAGE_NAME: "deltares/binder-test"
  test-docker:
    runs-on: ubuntu-latest
    concurrency:
      group: test-docker-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build full
        uses: docker/build-push-action@v6
        with:
          context: .
          target: full
          tags: deltares/hydromt:full
          load: true
          build-args: |
            PIXIENV=full-latest
      - name: Run tests
        run: docker run --env NUMBA_DISABLE_JIT=1 --rm deltares/hydromt:full test
