---
name: Test Docker images and Binder integration

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/*
      - Dockerfile
      - pyproject.toml
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/*
      - Dockerfile
      - pyproject.toml

jobs:
  test-binder:
    runs-on: ubuntu-latest
    concurrency:
      group: test-binder-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build slim
        uses: docker/build-push-action@v6
        with:
          context: .
          target: slim
          tags: deltares/hydromt:slim
          load: true
          push: false
          build-args: |
            PIXIENV=slim-latest
      - name: Build actual binder image
        uses: docker/build-push-action@v6
        with:
          context: .binder
          tags: deltares/hydromt-binder:test
          load: true
          push: false
          build-args: |
            PIXIENV=slim-latest
      - name:
        run: |
          # fail if something goes wrong
          set -e

          # run the docker image detached, it will start the jupyter server for us
          docker run -d -p 8888:8888 deltares/hydromt-binder:test

          # give it a second to start up
          sleep 10

          # check if we can reach the server
          curl -f "http://localhost:8888/api/"

          # let's be nice and cleanup after ourselves
          docker kill "$(docker ps -q)"





  test-docker:
    runs-on: ubuntu-latest
    concurrency:
      group: test-docker-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build full
        uses: docker/build-push-action@v6
        with:
          context: .
          target: full
          tags: deltares/hydromt:full
          load: true
          build-args: |
            PIXIENV=full-latest
      - name: Run tests
        run: docker run --env NUMBA_DISABLE_JIT=1 --rm deltares/hydromt:full test
