---
name: Test Docker images and Binder integration

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/**
      - Dockerfile
      - pyproject.toml
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/test-docker.yml
      - .binder/**
      - Dockerfile
      - pyproject.toml

jobs:
  test-binder:
    runs-on: ubuntu-latest
    concurrency:
      group: test-binder-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - name: Build actual binder image
        run: pixi run docker-build-binder
      - name:
        id: test-image
        run: |
          # actually fail when something goes wrong
          set -e

          # run the docker image detached, it will start the jupyter server for us
          docker run -d -p 8888:8888 deltares/hydromt:binder

          # give it a second or two to start up
          sleep 2

          # check if we can reach the server
          curl -f "http://localhost:8888/api/"

      # only show logs if previous step failed
      - name: show logs
        if: ${{ steps.test-image.conclusion != 'success' }}
        run: |
          echo "# Containers:"
          docker container ls

          echo "# Logs:"
          docker logs "$(docker container ls -q)"





  test-docker:
    runs-on: ubuntu-latest
    concurrency:
      group: test-docker-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build full
        uses: docker/build-push-action@v6
        with:
          context: .
          target: full
          tags: deltares/hydromt:full
          load: true
          build-args: |
            PIXIENV=full-latest
      - name: Run tests
        run: docker run --env NUMBA_DISABLE_JIT=1 --rm deltares/hydromt:full test
