name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - .github/workflows/tests.yml
  pull_request:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - .github/workflows/tests.yml
  workflow_run:
    workflows: [Pixi auto update]
    types:
      - completed


jobs:
  build:
    defaults:
      run:
        shell: bash -e -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['39','310','311','312','313']
        dependencies: ['min', 'full']

    name: pytest ${{ matrix.dependencies }}-${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.2
        with:
          pixi-version: "v0.41.1"
          environments: ${{ matrix.dependencies }}-py${{ matrix.python-version }}
      - name: Test
        run: |
          export NUMBA_DISABLE_JIT=1
          pixi run --locked -e ${{ matrix.dependencies }}-py${{ matrix.python-version }} test-cov
