name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Test-minimal-deps:
    name: minimal conda install
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: envs/hydromt-min.yml
          python-version: "3.9"
          activate-environment: hydromt-min

      - name: Conda info
        run: |
         conda info
         conda list

      - name: Test
        run: python -m pytest --verbose
  
  Test-matrix:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest" ] #, "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.9"] # fix tests to support older versions
    
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: envs/hydromt-test.yml
          python-version: ${{ matrix.python-version }}
          activate-environment: hydromt-test

      - name: Conda info
        run: |
         conda info
         conda list

      - name: Check style
        run: black --check .

      - name: Test
        run: python -m pytest --verbose --cov=hydromt --cov-report xml

      - uses: codecov/codecov-action@v1
