name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - pixi.toml
      - .github/workflows/tests.yml
  pull_request:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - pixi.toml
      - .github/workflows/tests.yml


jobs:
  build:
    defaults:
      run:
        shell: bash -e -l {0}
    name: test for warnings
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-warning-free-${{ github.ref }}
      cancel-in-progress: true
    steps:

      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.6.0
        with:
          pixi-version: "v0.21.1"
          environments: full-py39
      - name: Prepare pixi
        run: |
          pixi run --locked -e full-py39 install-hydromt

      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}

      - name: Test
        run: |
          export NUMBA_DISABLE_JIT=1
          export PYTHONTRACEMALLOC=20
          pixi run --locked -e full-py39 test-err-warn
