name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - pixi.toml
      - .github/workflows/tests.yml
  pull_request:
    branches:
      - main
      - v1
    paths:
      - tests/**/*
      - hydromt/**/*
      - data/**/*
      - pyproject.toml
      - pixi.lock
      - pixi.toml
      - .github/workflows/tests.yml


jobs:
  build:
    defaults:
      run:
        shell: bash -e -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['39','310','311','3.12']

    name: py ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true
    steps:

      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: "v0.21.1"
          environments: full-py${{ matrix.python-version }}
      - name: Prepare pixi
        run: |
          pixi run --locked -e full-py${{ matrix.python-version }} install-hydromt

      - name: Test
        run: |
          export NUMBA_DISABLE_JIT=1
          pixi run --locked -e full-py${{ matrix.python-version }} test-cov
